In [1]:
import numpy as np
import pandas as pd

In [9]:
d = pd.DataFrame(columns=list('AB'))
d1  = pd.DataFrame([[5, 6], [7, 8]], columns=list('AB'))
#d.concat(d1)
d

Empty DataFrame
Columns: [A, B]
Index: []